*{
	margin: 0;
	padding: 0;
}
body{
	background-image:url(../img/bg.png);
}

.ir-arriba{
	display: none;
	padding: 20px;
	background: #428bca;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
}

header {
  background: rgba(0,0,0,0.9);
  background-image: url(../img/bg1.png);
  width: 100%;
  position: fixed;
  z-index: 100;
}

nav {
  float: left; /* Desplazamos el nav hacia la izquierda */
}
 
nav ul {
  list-style: none;
  overflow: hidden; /* Limpiamos errores de float */
}
 
nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 15px;
}
 
nav ul li a {
  display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
 
nav ul li:hover {
  background: #428bca;
}
.contenido {
  padding-top: 80px;
}
.wrapper {
  width: 80%;
  margin: auto;
  overflow:hidden;
}